<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.bmc.potholequickfix" />
        <package android:name="com.sis.pwdsewaapp" />
        <package android:name="com.kmc.app" />
        <package android:name="com.newnmmc.app" />
        <package android:name="com.nyatitechnologies.pmcroadmitra" />
        <package android:name="com.ceedeev.grivenancev2" />
        <package android:name="org.tnega.cmhelpline.citizen" />
        <package android:name="cgg.gov.ghmc" />
        <package android:name="com.amplvb.ccrs" />
        <package android:name="com.nhai.rajmargyatra" />
        <package android:name="com.nammabengaluruNew.org" />
        <package android:name="com.esri.ugms_bmc" />
        <package android:name="in.gov.pmc.pmccare" />
        <package android:name="com.nic.dl.delhijanmitra" />
        <package android:name="in.nic.up.jansunwai.upjansunwai" />
        <package android:name="com.rajsampark.versiontwo" />
        <package android:name="in.gov.dpg.cmhelpline" />
        <package android:name="com.magnum.helpline" />
        <package android:name="com.bpsms.jansamadhan" />
        <package android:name="com.sociomatic.janasunani" />
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:remove="android:requestLegacyExternalStorage">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <service
            android:name=".drive.DriveForegroundService"
            android:foregroundServiceType="camera|location"
            android:stopWithTask="false"
            android:exported="false" />

        <receiver
            android:name=".drive.NotificationActionReceiver"
            android:exported="false" />
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />
</manifest>
